body{
   background: #a390c8;
}
p ,h1{
  font-size: 40px;
}
.header-container {
  display: relative;
  flex-direction: column; /* Stacks items vertically: logo first, h1 second */
  align-items: center; /* Aligns both to the left (use 'center' for centered alignment) */
 
}

.logo {
  max-width: 200px;
  margin-left:32%;
  position: relative;
  /* Removed margin-left: auto and margin-bottom */
}

h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: brown;
  margin: 0;
  padding: 10px;
}
.App {
  max-width: 860px;
  margin: 40px auto;
  text-align: center;
}
button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
button:hover {
  background: #c23866;
  color: #fff;
}
.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}